{%  extends "main/base.html" %}

{% block title  %}Password Reset{% endblock title  %}

{% load crispy_forms_tags %}
{% block content %}

<div class = "row justify-content-center">
    <div class = "col-xl-8 col-md-10 card bg-hex-sidenav px-0 border-0">
        <div class = "card-header bg-hex-topnav-dark">
            <div class="h2">Password Reset</div>
        </div>
        <form method="POST" class = "form-group custom-form mt-2">
            <div class ="h6 m-2" style="color:var(--hex-text);">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</div>
            {% csrf_token %}
            <div class="form-control custom-form">
                {{form|crispy}}
            </div>
            
            <button type = "submit" class = "btn btn-primary m-2">Reset my password</button>
        </form>   
    </div>
</div>

{% endblock %}


