{%  extends "main/base.html" %}

{% block title  %}Create an Acount {% endblock title  %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "row justify-content-center">
    <div class = "col-xl-8 col-md-10 card bg-hex-sidenav px-0 border-0">
        <div class = "card-header bg-hex-topnav-dark">
            <div class="h2">Account Settings</div>
        </div>
        <div class = "h4 mt-2 mx-4">Delete account</div>
        <form method="POST" class = "custom-form form-group">
            {% csrf_token %}
            <div class = "mx-4">
                Are you sure you want to delete your account?
            <button type = "submit" class = "btn btn-danger m-2">Delete</button>
            </div>
        </form>   
    </div>
</div>
{% endblock %}


