<div class="col-xl-3 col-md-6" id = "card{{resource.id}}">
    <div class="card {{style}} mb-3 border-0">
        <div class="card-header d-flex justify-content-between align-items-center gap-2">
            {% if not week %}
            <a id = "header-link" class = "header-content btn btn-hex btn-card btn-sm"  href="/{{resource_category}}/{{resource.id}}" >
                <h5 id = "header-text">{{resource}}</h5>
            </a>
            <form id="card-header-form" method="dialog" action="#" onsubmit="edit('{{resource_category}}','{{resource.id}}',this.card_header_text.value),toggle('#card{{resource.id}} .header-content','#card{{resource.id}} #card-header-form')" class = "input-group hidden gap-1">
                {% csrf_token %}
                <div class = "d-flex flex-grow-1 gap-1">
                    <input id = "header-text-input" name = "card_header_text" type = "text" class = "form-control bg-transparent text-white px-1" value="{{resource}}">
                    <button type = "submit" class = "btn btn-success border-0 text-white">
                    <i class="fa-solid fa-check"></i>
                    </button>
                    <button type="button" class = "btn btn-secondary border-0 text-white", onclick="toggle('#card{{resource.id}} .header-content','#card{{resource.id}} #card-header-form')">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form> 
            <div class = "header-buttons header-content">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"  aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#" onclick="toggle('#card{{resource.id}} .header-content','#card{{resource.id}} #card-header-form')"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    </li>
                    <li><a class="dropdown-item text-danger" onclick = "delete_button('{{resource_category}}','{{resource.id}}',card=true)" href="#"><i class="fa-regular fa-square-minus"></i> Delete</a></li>
                </ul>
            </div>
            {% else %}
            <a class = "btn btn-card btn-sm bg-transparent text-white" style="cursor:default;">
                <h5 id = "header-text" >
                    {% if resource.date %}
                    {{resource.date|date:"l j" }}   
                    {% else %}
                    {{resource.name}}
                    {% endif %}
                </h5>                                
            </a> 
            {% endif %}
        </div>
        <div class="card-body">
            {% include 'main/list.html' with list=resource%}
            {% if week and resource.name != 'hexlog' or not week%}
            <form id="create-form" action="#" method="dialog" onsubmit="create_button('{{items}}','{{resource.id}}',value=this.item_input.value)">
                <div class = "d-flex gap-1">
                    {% if items == 'tasks' %}
                    <input name="item_input" type="text" class = "form-control bg-transparent text-white" maxlength=300>
                    {% else %}
                    <input name="item_input" type="text" class = "form-control bg-transparent text-white" maxlength=200>
                    {% endif %}                
                    <button  type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </form>
            {%endif%}
        </div>
    </div>
</div>