{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block style %}
    <style>

        p{
            margin-bottom: 18px;
            font-size: large;
        }

        .text-shift{
            padding-left: 1em;
        }


    </style>
{% endblock %}

{% block content %}

<div class = "row justify-content-center">

    <div class = "col-xl-8 col-md-10 card bg-hex-sidenav px-0 border-0">
        <div class = "card-header bg-hex-topnav-dark">
            <h1 class="text-center">ToDoHex: Your Ultimate Task Management Solution!</h1>

        </div>

        <div class = "card-body mt-2">
            <p>Simplify your life and stay on top of your tasks with ToDoHex, the ultimate web application for managing your to-do lists. </p>
            <p>We've taken inspiration from the bullet journal system to bring you an intuitive and efficient way to track and migrate your tasks seamlessly.</p>

            <h2>Key Features:</h2>
          
            <ul>
                <p><b>Organize with Boards:</b> Create boards to categorize your to-do lists effortlessly. Drag and drop your lists between boards to reorder and customize them to your liking.
                </p>
              
              <p><b>Manage Todolists:</b> Your tasks find a home in todolists. Easily drag and drop tasks between different lists for smooth organization.</p>
              <p><b>Edit Tasks with Ease:</b> Simply click on the text field of a task, make your changes, and confirm them with a click of the green checkmark button. Want to set a due date or delete a task? Just use the convenient dropdown menu next to each task.</p>
            </ul>
          
            <h2>Welcome to the Week View:</h2>

                <i>
                    <p class="text-shift">The Week View takes task management to the next level, drawing inspiration from the bullet journal system. Here's what you can expect:</p>
                </i>
          
                <ul>
                    <li>
                        <p><b>Daily Todolists: </b>Each day of the week has its own dedicated todolist, ensuring you stay focused and organized.</p>
                    </li>
                    <li>
                        <p><b>Backlog for Overdue Tasks:</b> Incomplete tasks automatically move to the backlog at the end of the week. You can also manually backlog incomplete tasks by clicking the "This week" button, making sure nothing slips through the cracks.</p>
                    </li>
                    <li>
                        <p><b>Futurelog for Upcoming Tasks:</b> Your future tasks find a home in the Futurelog. They will automatically move to their designated day when their due date arrives.</p>
                    </li>
                </ul>

                <i>
                    <p class="text-shift">Easy Migration, Hex and Repeat Options:<p>
                </i>

                <ul>
                    <li>
                        <p><b>Migrate to the Next Week:</b> Hit the "Migrate" button to get a glimpse of the upcoming week. ToDoHex will automatically backlog tasks and move futurelog tasks to their respective days.</p>
                    </li>
                    <li>
                        <p><b>Hex Tasks: </b>Feeling adventurous? Click the "Hex" button to randomly hex a task from the backlog. Hexed tasks can't be edited or deleted. Completing the hexed task before the end of the day boosts your hex streak. But be warned, leaving any incomplete hex tasks will reset your score to zero.</p>
                    </li>
                    <li>
                        <p><b>Repeat Tasks:</b> Never forget recurring tasks again! Tasks in the Week View have a repeat option in the dropdown menu. Set tasks to repeat at specific intervals from their completion date.</p>
                    </li>
                </ul> 
          
           
        </div>
    </div>

</div>
  
       
{% endblock %}
