{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block style %}
    <style>

        p{
            margin-bottom: 18px;
            font-size: large;
        }
        .text-shift{
            padding-left: 1em;
        }
        body {
            background-color: var(--hex-sidenav);
        }


    </style>
{% endblock %}

{% block content %}


<div class = "row justify-content-center">
    <div class = "mb-4">
        <div class = "col-xl-8 col-md-10  bg-hex-sidenav px-0 border-0">


        </div>
        <h1 class="text-center">ToDoHex: A Simple Task Management Solution</h1>
        <div class =" h4 text-center">
            We've taken inspiration from the bullet journal system to bring you an intuitive and efficient way to track and migrate your tasks seamlessly.

        </div>

    </div>


    <div class = "col-xl-8 col-md-10 bg-hex-sidenav px-0 border-0">
        <div class = "card-body">
            <!-- <h4 class ="text-center">Week View:</h4> -->
                <ul>
                    <li>
                        <p><b>Daily Todolists: </b>Each day of the week has its own dedicated todolist, ensuring you stay focused and organized.</p>
                    </li>
                    <li>
                        <p><b>Backlog for Overdue Tasks:</b> Incomplete tasks automatically move to the backlog at the end of the week. You can also manually backlog incomplete tasks by clicking the "This week" button, making sure nothing slips through the cracks.</p>
                    </li>
                    <li>
                        <p><b>Futurelog for Upcoming Tasks:</b> Your future tasks find a home in the Futurelog. They will automatically move to their designated day when their due date arrives.</p>
                    </li>
                </ul>

                <i><p class="text-shift">Easy Migration, Hex and Repeat Options:<p></i>

                <ul>
                    <li>
                        <p><b>Migrate to the Next Week:</b> Hit the "Migrate" button to get a glimpse of the upcoming week. ToDoHex will automatically backlog tasks and move futurelog tasks to their respective days.</p>
                    </li>
                    <li>
                        <p><b>Hex Tasks: </b>Feeling stuck? Click the "Hex" button to hex a random task from the backlog. Hexed tasks are due today and can't be postponed, edited or deleted. You'll have to complete them by the end of the day to keep your hex streak.</p>
                    </li>
                    <li>
                        <p><b>Repeat Tasks:</b> Never forget recurring tasks again! Tasks in the Week View have a repeat option in the dropdown menu. Set tasks to repeat at specific intervals from their completion date.</p>
                    </li>
                </ul> 
        </div>
    </div>

    {% if not request.device.is_mobile %}
    <div class = "col-xl-8 col-md-4 d-flex align-items-center bg-hex-sidenav px-0 border-0">
        <video style="width:100%;" muted autoplay loop>
            <source src="{% static 'assets/demo.mp4' %}" type="video/mp4" />
        </video>
    </div>
    {% endif %} 

</div>
  
       
{% endblock %}
