{% load custom_tags %}
<ul class="list-group mb-3" id="{{list.id}}">
    {% for item in list|queryset %}
    <li class="list-group-item list-group-item-action {{item_styles|load_style:item}} draggable handle px-2" id = "item{{item.id}}">
            <div class = "my-2">
                <div class = "d-flex align-items-center gap-2">
                    {% if items == 'tasks' %}
                    <div class= "bg-transparent border-0">
                        {% if item.complete %}
                        <input class = "form-check-input" type="checkbox" onclick="checkbox_click('{{item.id}}','{{item.hex}}','{{item.prev_hex}}')" checked>
                        {%else%}
                        <input class = "form-check-input" type="checkbox" onclick="checkbox_click('{{item.id}}','{{item.hex}}','{{item.prev_hex}}')">
                        {%endif%}                       
                    </div>
                    {% endif %}
                    <div id="item-container" class = "d-flex align-items-center justify-content-between flex-grow-1">
                        {% if not items == 'tasks' %}
                        <a id="item-text" class = "border-0 li-text mx-2" href="/{{items}}/{{item.id}}">{{item}}</a>
                        {% else %}
                        <div id="item-text" class = "li-text">{{item}}</div>
                        {% endif %}
                        {% if not item.hex and not item.prev_hex %}
                            <button id="dropdown" data-bs-toggle="dropdown"  aria-expanded="false" class = "btn dropdown-toggle bg-transparent border-0 text-white" type="button" id = "item-config-dropdown">
                            </button> 
                            <ul class = "dropdown-menu dropdown-menu-dark" aria-labelledby="item-config-dropdown">
                                <button class = "dropdown-item" onclick="toggle('#item{{item.id}} #item-container','#item{{item.id}} #item-edit',dragabble_id='#item{{item.id}}')">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                {% if items == "tasks"%}
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#task-modal" data-bs-item-id="{{item.id}}">
                                    <i class="fa-solid fa-up-right-from-square"></i> Open Task
                                </button>
                                {% endif %}
                                
                                <button  id = "delete_button" class="dropdown-item text-danger", onclick = "delete_button('{{items}}','{{item.id}}')">
                                    <i class="fa-solid fa-trash"></i> Delete
                                </button>
                            </ul>
                        </div>
                        {%endif%}                          
                    <form id="item-edit" method="dialog" action="#" onsubmit="edit('{{items}}','{{item.id}}',this.item_input.value),toggle('#item{{item.id}} #item-container','#item{{item.id}} #item-edit',dragabble_id='#item{{item.id}}')" class = "input-group hidden gap-1">
                        {% csrf_token %}
                        <div class = "d-flex flex-grow-1 gap-1">
                            {% if items == 'tasks' %}
                            <input name ="item_input" id="input" type="text" class = "form-control bg-transparent text-white" maxlength=300 value="{{item}}">
                            {% else %}
                            <input name ="item_input" id="input" type="text" class = "form-control bg-transparent text-white" maxlength=200 value="{{item}}">
                            {% endif %} 
                            <button type = "submit" class = "btn btn-success border-0 text-white">
                            <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class = "btn btn-secondary border-0 text-white", onclick="toggle('#item{{item.id}} #item-container','#item{{item.id}} #item-edit',dragabble_id='#item{{item.id}}')">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </form> 
                </div>                   
            </div>
            {% if items == "tasks" and week and not weekday %}
            <div class = "mt-1 d-flex justify-content-between small">
            {% else %}
            <div class = "mt-1 small">
            {% endif %}
            {% if items == "tasks" and not weekday%}
                <div class = "task-due-date-text">
                    {% if item.due_date%}
                    <i class="fa-solid fa-calendar"></i>     
                    {{item.due_date|date:"D M d Y"}}
                    
                    {%elif item.prev_date%}
                    <i class="fa-solid fa-calendar"></i>  
                    {{item.prev_date|date:"D M d Y"}}
                    {% endif %} 
                </div>
            {% endif %} 
            {% if items == "tasks" and week %}
            <div class = "task-repeat-text d-flex justify-content-end">
                {% if item.interval_type and item.interval_value %}
                    {% if item.interval_value == 1 %}
                    Every {{item.interval_value}} {{item.interval_type|remove_last_char}}
                    {% else %}
                    Every {{item.interval_value}} {{item.interval_type}}
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
            </div>
        {% if week and todolist.name == 'hexlog' and not board.hexable%} 
        <script>
            $(`#item${'{{item.id}}'}`).removeClass("draggable");
            $(`#item${'{{item.id}} .handle'}`).attr("style","cursor:default");
        </script>  
        {% endif %}
    </li>
    {% endfor %}
    {% if week and board.hexable and todolist.name == 'hexlog' %}
    <script>initialize_sortable('{{resource_category}}','{{list.id}}',hexlog=true)</script>    
    {% elif week and weekday %}
    <script>initialize_sortable('{{resource_category}}','{{list.id}}',hexlog=false,weekday=true)</script>
    {% else %}
    <script>initialize_sortable('{{resource_category}}','{{list.id}}')</script>
    {% endif %}
</ul>
