{% extends "main/base.html" %}

{% block title %}View List{% endblock %}

{% block content %}
<div class = "row justify-content-center">
    <div class = "col-8 mt-5">
    <h1>{{ls.name}}</h1>
        <form id = "listform" method="post" action="">
            {% csrf_token %}
            {% for item in ls.item_set.all %}
                
                <div class = "input-group mb-3">
                    <div class = "input-group-prepend">
                        <div class= "input-group-text" >
                            
                            {% if item.complete == True %}
                                <input type="checkbox", value = "clicked", name = "c{{item.id}}" onchange="document.getElementById('listform').submit()" checked>
                            {%else%}
                                <input type="checkbox", value = "clicked", name = "c{{item.id}}" onchange="document.getElementById('listform').submit()">
                            {%endif%}
        
                        </div>
                    </div>
                    <input type="text", value = "{{item.text}}" name = "e{{item.id}}" class = "form-control" onchange="document.getElementById('listform').submit()">
                    <div class = "input-group-append">
                        <button type="submit", name = "removeItem", value = "r{{item.id}}", class="btn btn-danger"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
                {%endfor%}  
        
            <div class = "input-group mb-3">
                <input type="text", class = "form-control" name = "newText", placeholder="New Item">
                <div class = "input-group-append">
                    
                    <button type = "submit", name = "newItem", value = "newItem", class = "btn btn-success" ><i class="fa fa-plus"></i></button>
                </div>
                
            </div>

        </form>
        </div>
    </div>

{% endblock %}