{% extends 'main/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
{% load static %}
{% load custom_tags %}
{% load tz %}
<script src="{%static 'js/item_events.js'%}"></script>
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="{% static 'css/resource_styles.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block sidebar %}
    {% if not request.device.is_mobile %}
    <div class = "overflow-auto h-100">
    <nav class="top-navbar d-flex flex-column border-bottom">
        <a class="btn btn-lg text-white" >Logs</a>
    </nav>
    <div class="" id="logs">
        {% for todolist in logs %}
        {% include 'main/card.html' with week=True style=card_styles|dict_key:todolist.name resource=todolist cols='col-12' spacing="mb-0" %}
        {% endfor %}        
    </div>       
    </div>    
    {% endif %}
{% endblock %}

{% block content %}
<div>
    {% if week %}
    <div class = "d-flex">
        {% if not request.device.is_mobile %}
        <div>
            <button class="btn btn-hex m-1 mx-auto" id="menu-btn"><i class="fas fa-bars"></i> Logs</button>
        </div>
        {% endif %}
        <div id = "board-header" class = "row mx-auto d-flex">
            <h1>{{localdate|date:"M Y"}}</h1>
        </div>           
        <div id="streak-display" class = "d-flex justify-content-end">
            <b>Hex Streak: {{hex_streak}}</b>
        </div>
    </div>
    <div id = "board-buttons" class= "d-flex gap-1 justify-content-center">
            <button id = "hex" name = "hex" value = "hex" type = "submit" class = "btn btn-hex mt-1" onclick="actions('{{board.id}}',name)">
                <i class="fa-solid fa-wand-magic-sparkles"></i> Hex
            </button>  
            {% if not board.hexable %}
                <script>$('#hex').attr('disabled','disabled')</script>
            {% endif %}
            <button id = "current_week" name = "current week" value = "current_week" type = "submit" class = "btn btn-hex mt-1" onclick="actions('{{board.id}}',name)">
            <i class="fa-solid fa-rotate"></i> This week
            </button>   
            <button id = "migrate" name = "migrate" value = "migrate" type = "submit" class = "btn btn-hex mt-1" onclick="actions('{{board.id}}',name)">
                <i class="fa-solid fa-arrow-right"></i> Migrate
            </button>   
    </div>
    </div>
    
    {% else %}
        {% if create_resources %}
        <div class = "">
            <div class = "d-flex justify-content-center">
                <h1>{{title}}</h1>
            </div>
            <div class="d-flex justify-content-center">
                <button class = "btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-create" aria-expanded="false" aria-controls="collapse-create">
                    <i class="fa-regular fa-square-plus"></i> Create
                </button>
            </div>
            <div class = "d-flex justify-content-center">
                    
                <div class="row collapse mt-2 col-xl-3 col-md-6 " id="collapse-create">
                    <div class = "card bg-hex-sidenav">
                        <div class = "card-body">
                            <form id = "create-resource-form" action="#" onsubmit="create_button('{{resource_category}}','{{parent.id}}',this.name.value,card=true);this.name.value='new {{resource_category|remove_last_char}}'" method = "dialog">
                                {% csrf_token %}
                                <p>
                                <label for="resource-name">{{resource_category|remove_last_char}} name:</label>
                                <input name = "name" type="text" id="resource-name" value= "new {{resource_category|remove_last_char}}" class = "form-control bg-transparent text-white" maxlength=200>   
                                </p>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target= "#collapse-create">Close</button>
                                <button type="submit" class="btn btn-success" data-bs-toggle="collapse" data-bs-target= "#collapse-create">Submit</button>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>        
        {% else %}
        <a class = "btn btn-card btn-primary btn-sm" href="/boards/{{board.id}}" >
            <h5 id = "header-text" href = "/">Return to board: {{board}}</h5>
        </a> 
        {% endif %}
            
    {% endif %}

    {% if request.device.is_mobile %}
    <div class="row mt-3 d-flex justify-content-center" id="logs">
        {% for todolist in logs %}
        {% include 'main/card.html' with week=True style=card_styles|dict_key:todolist.name resource=todolist spacing="mb-3" %}
        {% endfor %}        
    </div> 
    {% endif %}

    <div id = "board">       
        <div class = "row mt-3 d-flex justify-content-center" id = "cards">
            {% for resource in resources %}
            {% if week %}
                {% if resource.date == localdate %}
                    {% include 'main/card.html' with weekday=True style="today" %}
                {% else %}
                    {% include 'main/card.html' with weekday=True style="weekday"  %}
                {% endif %}
            {% else %}
                {% include 'main/card.html' with style="weekday"  %}
            {% endif %}     
            {%endfor%}    
        </div>
    </div>

    {% if items == 'tasks' and not item.hex and not item.prev_hex %}
    <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="task-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div id = "task-modal-content" class="modal-content bg-dark"></div>
        </div>
    </div>
    {% endif %}

    <script>
        var task_modal = document.getElementById('task-modal')
        if (task_modal) {
            task_modal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var item_id = button.getAttribute('data-bs-item-id')
                // Update the modal's content.
                url = `/task_modal/${item_id}`
                replace_element(url,['task-modal-content'],scripts=true)
            })        
        }
        $('#task-modal').on('shown.bs.modal', function () {
            $(this).find('textarea').each(function () {
                set_height(this)           
            });
        })
        $('textarea').each(function () {
            set_height(this)           
        });
    </script>
</div>
{% endblock %}