{% extends 'main/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
{% load static %}
{% load custom_tags %}
{% load tz %}
<script src="{%static 'js/item_events.js'%}"></script>
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="{% static 'css/resource_styles.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
<div>
    <div class = "row mt-4">   
        {% if not week %}
            <h1>{{title}}</h1>
        {% else %}
        <div>
            <h1>{{board.start_date|date:"M Y"}}</h1>
            {% include 'main/hex_streak.html'   %}
        </div>
        {% endif %}
        <div class = "col-xl-3 col-md-6 mt-3">
            {% if create_resources %}
                <button class = "btn btn-success" data-bs-toggle="collapse" data-bs-target="#collapse-create" aria-expanded="false" aria-controls="collapse-create">
                <i class="fa-regular fa-square-plus"></i> Create
                </button>                
            {%else%}
                {% if week %}
                <form action="/action/" method = "post">
                    {% csrf_token %}
                    <button id = "current_week" name = "hex" value = "hex" type = "submit" class = "btn btn-success mt-1">
                        <i class="fa-solid fa-wand-magic-sparkles"></i> Hex
                    </button>  
                    {% if not board.hexable %}
                        <script>$('#current_week').attr('disabled','disabled')</script>
                    {% endif %}
                    <button id = "current_week" name = "current_week" value = "current_week" type = "submit" class = "btn btn-success mt-1">
                    <i class="fa-solid fa-rotate"></i> This week
                    </button>   
                    <button id = "migrate" name = "migrate" value = "migrate" type = "submit" class = "btn btn-success mt-1">
                        <i class="fa-solid fa-arrow-right"></i> Migrate
                    </button>   
                </form>
                {% else %}
                <a class = "btn btn-card btn-primary btn-sm" href="/boards/{{board.id}}" >
                    <h5 id = "header-text" href = "/">Return to board: {{board}}</h5>
                </a> 
                {% endif %}                
            {% endif %}
            <p>
            <div class="collapse" id="collapse-create">
                <div class = "card bg-hex-sidenav">
                    <div class = "card-body">
                        <form id = "create-resource-form" action="#" onsubmit="create_button('{{resource_name}}','{{parent.id}}',$('#resource-name').val(),card=true);" method = "dialog">
                            {% csrf_token %}
                            <p>
                            <label for="resource-name">{{resource_name|remove_last_char}} name:</label>
                            <input type="text" id="resource-name" value= "new {{resource_name|remove_last_char}}" class = "form-control bg-hex-topnav border border-hex text-white">   
                            </p>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target= "#collapse-create">Close</button>
                            <button type="submit" class="btn btn-success" data-bs-toggle="collapse" data-bs-target= "#collapse-create">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>  
    <div id = "board">
        <div class="row d-flex justify-content-center" id="logs">
            {% for todolist in logs %}
            <div class="col-xl-3 col-md-6 mb-3">
                {% if todolist.name in card_styles %}
                    <div class="card {{card_styles|dict_key:todolist.name}}" id = "card{{todolist}}">
                {% else %}
                    <div class="card bg-hex-sidenav" id = "card{{todolist}}">
                {% endif %}
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <a class = "btn btn-card btn-sm weekday" >
                            <h5 id = "header-text" >{{todolist.name}}</h5>                                
                        </a> 
                        <div>   
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{todolist.id}}" aria-expanded="false" aria-controls="collapse{{todolist.id}}">
                                <i class="fas fa-angle-down"></i>
                            </button>  
                            {% if todolist.name != 'hexlog'%}
                            <button  id = "create_button" class="btn btn-success", onclick = "create_button('{{items}}','{{todolist.id}}')">
                                <i class="fa fa-plus"></i>
                            </button> 
                            {% endif %}
                        </div>
                    </div> 
                    <div class = "collapse show" id = "collapse{{todolist.id}}">
                        <div class="card-body">
                            {% include 'main/list.html' with list=todolist%}
                        </div>
                    </div>            
                </div>
            </div>
            
            {% endfor %}        
        </div>    
        <div class = "row mt-3 d-flex justify-content-center" id = "cards">
            {% for resource in resources %}
            {% if week %}
                {% if resource.date == localdate %}
                    {% include 'main/card.html' with weekday=True style="today"%}
                {% else %}
                    {% include 'main/card.html' with weekday=True style="weekday"%}
                {% endif %}
            {% else %}
                {% include 'main/card.html' %}
            {% endif %}
                
            {%endfor%}              
        </div>
    </div>

</div>
{% endblock %}