{% extends 'main/base.html' %}

{% block title %}
    Week View
{% endblock %}

{% block style %}
{% load static %}
<script src="{%static 'js/sortable_event.js'%}"></script>
<script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
<style>
    .list-group{
        word-break: break-all;
     }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div>
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

            <div class = "container-fluid px-4">
                <div class = "row mt-5">
                {% for list in user.todolist_set.all %}
                    <ul class="list-group col-3 mb-3" id="list{{list.id}}"> 
                        <h5 class = "list-group-item list-group-item-success ">{{list.name}}--{{list.id}}</h4>
                            {% for item in list.item_set.all %}
                                <li class="list-group-item list-group-item-action draggable" id = "item{{item.id}}">{{item.text}}--{{item.id}}--{{item.position}}</li>
                            {% endfor %}
                    </ul>

                {%endfor%}
                </div>
                
        {% for list in user.todolist_set.all %}  
        <script>

            var list = document.getElementById('list{{list.id}}');
            Sortable.create(list, {
                animation: 100,
                group: 'list-1',
                draggable: '.draggable',
                handle: '.list-group-item',
                sort: true,
                filter: '.sortable-disabled',
                chosenClass: 'active',
                onAdd: function () {
                    sortable_event("add",'list{{list.id}}');
                },
                onUpdate: function () {
                    sortable_event("update",'list{{list.id}}')
                },
            });    

        </script>
        {% endfor %}


</div>
{% endblock %}