{% extends 'main/base.html' %}

{% block title %}
    View
{% endblock %}

{% block content %}
<div class = "row justify-content-center mt-5">
    <div class = "col-8">
    <form method="post" action="">
        {% csrf_token %}
        <div class="list-group">
            {% for todolist in user.todolist_set.all %}
                <div class = "input-group mb-3">
                    <a href="/{{todolist.id}}" class="list-group-item-action form-control">{{todolist}}</a>
                    <div class = "input-group-append">
                        <button type = "submit", name = "removeList", value = "r{{todolist.id}}", class = "btn btn-danger" ><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
        
    <form action="" method="post">
        {% csrf_token %}
        <div class = "input-group mb-3">
            {{form.name}}
            <div class = "input-group-append">
                <button type = "submit", name = "newList", value = "newList", class = "btn btn-success" ><i class="fa fa-plus"></i></button>
            </div>     
        </div>
    </form>
    </div>
</div>
{% endblock %}