

:root {
    --hex-body: #19376D;
    --hex-sidenav: #0B2447;
    --hex-topnav: #576CBC;
    --hex-text: #A5D7E8;
    --hex-topnav-dark: #3c59ce;
}

body {
    margin: 0;
    line-height: var(--bs-body-line-height);
    color: white;
    background-color: var(--hex-body);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .side-navbar {
    width: 140px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color:var(--hex-sidenav);
    transition: 0.3s;
    display: flex;
  }

  .top-navbar{
    height: 56px
  }

  .nav-link {
    color: white;

  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color:var(--hex-topnav-dark);
    color: white
  }
  
  .my-container {
    transition: 0.3s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 140px;
    
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -35px;
  }
  
   .bg-hex-body {
    --bs-bg-opacity: 1;
    background-color: var(--hex-body) !important;
  }
  
  .bg-hex-sidenav {
    background-color: var(--hex-sidenav) !important;
  }
  
  .bg-hex-topnav {
    background-color: var(--hex-topnav) !important;
  }

  .bg-hex-topnav-dark {
    background-color: var(--hex-topnav-dark) !important;
  }
  
  .bg-hex-text {
    background-color: var(--hex-text) !important;
  }
  

  .list-group-item-hex {
    background-color: var(--hex-topnav);
  }
  .list-group-item-hex.list-group-item-action:hover, .list-group-item-hex.list-group-item-action:focus,.list-group-item-hex.list-group-item-action:active {
    background-color: var(--hex-topnav-dark) !important;
  }


  .list-group-item-hex-primary, .bg-hex-primary {
    background-color: #0463c9 !important
  }
  .list-group-item-hex-primary.list-group-item-action:hover, .list-group-item-hex-primary.list-group-item-action:focus {
    background-color: #0551a3 !important
  }

  .list-group-item-hex-dark {
    background-color: #1c1f22
  }
  .list-group-item-hex-dark.list-group-item-action:hover, .list-group-item-hex-dark.list-group-item-action:focus,.list-group-item-hex-dark.list-group-item-action:active {
    background-color: #131517;
  }

  .list-group-item-hex-danger, .bg-hex-danger {
    background-color: #ab1f2c !important
  }
  .list-group-item-hex-danger.list-group-item-action:hover, .list-group-item-hex-danger.list-group-item-action:focus {
    background-color: #8f1c27 !important
  }

  .border-hex {
    --bs-border-opacity: 1;
    border-color: var(--hex-sidenav) !important;
  }